<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<h2>Exam Copies Manager</h2>
				<p>{{'JUMBOTRON_INTRO' | translate}}</p>
			</div>
			<div class="row">
				<p><a class="btn btn-primary btn-lg" href="http://github.com/combefis/ECM" target="_blank">{{'LEARN_MORE' | translate}}</a></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="row text-center">
				<img src="/images/management-tool.png" alt="Management tool" width="150" height="150" />
				<h3>{{'MANAGEMENT_TOOL' | translate}}</h3>
			</div>
			<p>{{'MANAGEMENT_TOOL_DESC' | translate}}</p>
		</div>
		<div class="col-md-4">
			<div class="row text-center">
				<img src="/images/genuine-algorithms.png" alt="Genuine algorithms" width="150" height="150" />
				<h3>{{'GENUINE_ALGORITHM' | translate}}</h3>
			</div>
			<p>{{'GENUINE_ALGORITHM_DESC' | translate}}</p>
		</div>
		<div class="col-md-4">
			<div class="row text-center">
				<img src="/images/pdf-generation.png" alt="PDF generation" width="150" height="150" />
				<h3>{{'PDF_GENERATION' | translate}}</h3>
			</div>
			<p>{{'PDF_GENERATION_DESC' | translate}}</p>
		</div>
	</div>
</section>