<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<h2>Exam Copies Manager</h2>
				<p>Welcome on the open-source solution to manage exams copies and to automatically generate pre-filled and ready-to-print PDF files for the exams.</p>
			</div>
			<div class="row">
				<p><a class="btn btn-primary btn-lg" href="http://github.com/combefis/ECM" target="_blank">Learn more</a></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="row text-center">
				<img src="/images/management-tool.png" alt="Management tool" width="150" height="150" />
				<h3>Management tool</h3>
			</div>
			<p>ECM allows you to manage rooms, teachers and courses. Creating a new exam for a set of students and uploading its statement as a PDF file is made easy thanks to the intuitive interface.</p>
		</div>
		<div class="col-md-4">
			<div class="row text-center">
				<img src="/images/genuine-algorithms.png" alt="Genuine algorithms" width="150" height="150" />
				<h3>Genuine algorithms</h3>
			</div>
			<p>ECM contains algorithms for a genuine selection and attribution of rooms for the exams and for an automatic seat-assignment proposal of the students, with possible manual post-customisation.</p>
		</div>
		<div class="col-md-4">
			<div class="row text-center">
				<img src="/images/pdf-generation.png" alt="PDF generation" width="150" height="150" />
				<h3>PDF generation</h3>
			</div>
			<p>ECM will automatically build ready-to-print and pre-filled PDF files, from a set of templates, with the statements of all the exams. Templates and fields to pre-fill are highly customisable.</p>
		</div>
	</div>
</section>