h1 {
	margin: 40px 0 30px 0;
}

h2 {
	margin: 30px 0 20px 0;
	font-size: 27px;
}

h3 {
	margin: 10px 0;
	font-size: 17px;
}

p {
	text-align: justify;
}

footer {
	margin-top: 10px;
}
footer > div {
	border-top: 1px solid #eee;
	padding: 20px 0;
}

img.iconuserpic {
	margin-top: -7px;
}

img.grayscale, input[type="image"].grayscale {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}

form.in-form {
	display: inline-block;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

span.flag-gb::before {
	content:url('/images/gb.png');
	margin-right: 10px;
}
span.flag-be::before {
	content:url('/images/be.png');
	margin-right: 10px;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);
}

.list-group {
	margin-bottom: 0 !important;
}