.selectorDiv{
    position:relative;
    padding:10px 20px 10px 20px;
    background-color: rgb(210,210,210);
}

.selectedSpan{
  top:8px;
  position: relative;
  margin: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  display:inline;
}

.selectorDiv:nth-child(even) {
    background-color: rgb(225,225,225);
}

.selectorDiv:hover{
    background-color: rgb(190,190,190);
}

.selectorContainer{
    position: absolute;        
    padding : 0;
    width: auto;
}
