.selectorDiv{
    position:relative;
    padding:10px 20px 10px 20px;
    background-color: rgb(210,210,210);
}

.selectorDiv:nth-child(even) {
    background-color: rgb(225,225,225);
}

.selectorDiv:last-child {
    border-radius: 0 0 25px 25px;
}

.selectorContainer{
    position: fixed;        
    padding : 0;
    width: auto;
}
