<section data-ng-controller="GroupsController" data-ng-init="find()">
	<h2>{{'STUDENTS.GROUPS' | translate}}</h2>

	<div>
		<p class="text-right"><a href="#!/groups/create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'STUDENTS.NEW_GROUP' | translate}}</a></p>
	</div>

	<div class="list-group" data-ng-if="! groups.$resolved || groups.length">
		<a data-ng-repeat="group in groups" data-ng-href="#!/groups/{{group.name}}" class="list-group-item"><b>{{group.name}}</b> &mdash; {{group.description}}</a>
	</div>

	<div data-ng-if="groups.$resolved && ! groups.length">{{'STUDENTS.NO_GROUP_AVAILABLE' | translate}}</div>
</section>