.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
copies/
public/dist/
public/humans.txt
public/images/rooms/
public/images/uploads/
config/env/*.js
