<section data-ng-controller="CoursesController">
	<h1>Create course</h1>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="ID">ID</label>
					<div class="controls">
						<input type="text" data-ng-model="ID" id="ID" class="form-control" placeholder="LI4C" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Coordinator</label>
					<tags-input data-ng-model="coordinator" display-property="name" max-tags="1" placeholder="Add a teacher">
						<auto-complete source="loadTeachers($query)"></auto-complete>
					</tags-input>
				</div>
				<div class="form-group">
					<label class="control-label">Activities</label>
					<tags-input data-ng-model="activities" display-property="name" placeholder="Add an activity">
						<auto-complete source="loadActivities($query)"></auto-complete>
					</tags-input>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
