<section data-ng-controller="CoursesController" data-ng-init="findMyCourses()">
    <div class="page-header">
        <h1>Courses</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="course in courses" data-ng-href="#!/courses/{{course.ID}}" class="list-group-item">
            <h2>{{course.ID}} &mdash; {{course.name}}</h2>
            <dl class="dl-horizontal">
                <dt>Coordinators</dt>
                <dd><ul class="list-inline"><li data-ng-repeat="coordinator in course.coordinators">{{coordinator.username}}</li></ul></dd>
                <dt>Activities</dt>
                <dd><ul class="list-inline"><li data-ng-repeat="activity in course.activities">{{activity.ID}}</li></ul></dd>
            </dl>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="! courses.$resolved || courses.length">
        No courses yet, why don't you <a href="/#!/courses/create">create one</a>?
    </div>
</section>
