<section data-ng-controller="CoursesController" data-ng-init="find()">
	<h2>{{'COURSES.COURSES' | translate}}</h2>

	<div>
		<p class="text-right"><a href="#!/activities/create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'COURSES.NEW_ACTIVITY' | translate}}</a>&#160;
		<a href="#!/courses/create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'COURSES.NEW_COURSE' | translate}}</a></p>
	</div>

	<div class="list-group" data-ng-if="! courses.$resolved || courses.length">
		<a data-ng-repeat="course in courses | orderBy: '+ID'" data-ng-href="#!/courses/{{course.ID}}" class="list-group-item">
			<h3><b>{{course.ID}}</b> &mdash; {{course.name}} ({{course.coordinator.serial}})</h3>
			<ul>
				<li data-ng-repeat="activity in course.activities | orderBy: '+ID'">{{activity.ID}} &mdash; {{activity.name}} (<span data-ng-repeat="teacher in activity.teachers | orderBy: '+serial'">{{teacher.serial}}{{$last ? '' : ', '}}</span>)</li>
			</ul>
		</a>
	</div>
	
	<div data-ng-if="courses.$resolved && ! courses.length">{{'COURSES.NO_COURSE_AVAILABLE' | translate}}</div>
</section>