<section data-ng-controller="CoursesController" data-ng-init="findOne()">
	<h2>{{course.ID}} &mdash; {{course.name}}</h2>

	<h3>{{'COURSES.INFORMATION' | translate}}</h3>

	<dl class="dl-horizontal">
		<dt>{{'COURSES.COORDINATOR' | translate}}</dt>
		<dd>{{course.coordinator.username}}</dd>
		<dt>{{'COURSES.WEIGHT' | translate}}</dt>
		<dd>{{course.totalWeight}} ECTS</dd>
	</dl>

	<h3>{{'COURSES.ACTIVITIES' | translate}}</h3>

	<ul class="list-group">
		<li class="list-group-item" ng-repeat="activity in course.activities"><b>{{activity.ID}}</b> &mdash; {{activity.name}} ({{activity.weight}} ECTS) {{'COURSES.BY' | translate}}<span ng-repeat="teacher in activity.teachers"> {{teacher.username}}{{$last ? '' : ','}}</span></li>
	</ul>
</section>
