<section data-ng-controller="RoomsController">
	<h1>Create room</h1>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="ID">ID</label>
					<div class="controls">
						<input type="text" data-ng-model="ID" id="ID" class="form-control" placeholder="A000" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="First floor meeting room" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="seats">Seats</label>
					<div class="controls">
						<input type="text" data-ng-model="seats" id="seats" class="form-control" placeholder="20" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Picture</label>
					<div class="controls">
						<div data-ng-if="! path">
							You can load one picture for the room from your computer.
						</div>
						<div data-ng-if="path">
							<img data-ng-src="{{path}}" width="300" height="200" alt="Room picture" />
						</div>
						<progressbar data-ng-if="progressValue" class="progress-striped active" animate="true" max="100" value="progressValue" type="success"><i>{{progressValue}} %</i></progressbar>
						<div class="btn btn-default" ngf-select accept="image/*" ngf-allow-dir="false" data-ng-model="files" data-ng-hide="uploading">Select file</div>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				<div data-ng-if="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
