<section data-ng-controller="RoomsController" data-ng-init="findOne()">
	<h2>{{room.ID}}</h2>

	<h3>{{'ROOMS.INFORMATION' | translate}}</h3>	

	<div ng-if="room.picture" class="pull-right">
		<img ng-src="/images/rooms/{{room._id}}/picture.jpg" width="300" height="200" alt="{{'ROOMS.PICTURE_OF' | translate}} {{room.ID}}" />
	</div>

	<div class="pull-left">
		<dl class="dl-horizontal">
			<dt>{{'ROOMS.ID' | translate}}</dt>
			<dd>{{room.ID}}</dd>
			<dt>{{'ROOMS.NAME' | translate}}</dt>
			<dd>{{room.name}}</dd>
			<dt>{{'ROOMS.SEATS' | translate}}</dt>
			<dd>{{room.seats}}</dd>
			<dt>{{'ROOMS.CONFIGURATIONS' | translate}}</dt>
			<dd>{{room.configuration.length}}</dd>
		</dl>

		<h3>{{'ROOMS.MAP' | translate}}</h3>

		<div>
			<canvas id="roomplaces" data-ng-if="room.map" data-ng-init="loadMap()"></canvas>
			<p data-ng-if="! room.map">{{'ROOMS.NO_MAP_AVAILABLE' | translate}}</p>
		</div>

		<form class="form-inline" data-ng-if="room.map && room.configuration && room.configuration.length > 0">
			{{'ROOMS.SELECT_CONFIGURATION' | translate}} <select class="form-control" data-ng-options="i as room.configuration[i].name for i in getNumber(room.configuration.length)" data-ng-model="configuration" data-ng-change="changeConfiguration(configuration)"></select> <span data-ng-if="configuration !== -1">({{room.configuration[configuration].seats.length}} {{'ROOMS.SELECTED_SEATS' | translate}})</span>
		</form>
	</div>
</section>