<section data-ng-controller="RoomsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1><span data-ng-bind="room.ID"></span> : <span data-ng-bind="room.name"></span></h1>
	</div>
  <br> Number of seats : <span data-ng-bind="room.seats"></span>

	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == room.user._id))">
		<a class="btn btn-primary" href="/#!/rooms/{{room._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="room.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="room.user.displayName"></span>
		</em>
	</small>
</section>
