<section data-ng-controller="StudentsController">
	<h1>Create student</h1>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="matricule">Matricule</label>
					<div class="controls">
						<input type="text" data-ng-model="matricule" id="matricule" class="form-control" placeholder="Matricule" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="firstname">Firstname</label>
					<div class="controls">
						<input type="text" data-ng-model="firstname" id="firstname" class="form-control" placeholder="Firstname" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="lastname">Lastname</label>
					<div class="controls">
						<input type="text" data-ng-model="lastname" id="lastname" class="form-control" placeholder="Lastname" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="middlenames">Middle names</label>
					<div class="controls">
						<input type="text" data-ng-model="middlenames" id="middlenames" class="form-control" ng-list="/,/" placeholder="Comma separated names">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Groups</label>
					<tags-input data-ng-model="groups" display-property="name" placeholder="Add a group">
						<auto-complete source="loadGroups($query)"></auto-complete>
					</tags-input>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Create</button>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
