<section data-ng-controller="StudentsController" data-ng-init="find()">
	<h1>Students</h1>

	<div class="list-group" data-ng-if="! students.$resolved || students.length">
		<a data-ng-repeat="student in students" data-ng-href="#!/students/{{student.matricule}}" class="list-group-item">{{student.firstname}} {{student.lastname}} ({{student.matricule}})</a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="students.$resolved && ! students.length">
    	No students yet, why don't you <a href="/#!/students/create">create one</a>?
    </div>
</section>
