<section data-ng-controller="StudentsController" data-ng-init="find()">
	<h2>{{'STUDENTS.STUDENTS' | translate}}</h2>

	<div>
		<p class="text-right"><a href="#!/groups/create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'STUDENTS.NEW_GROUP' | translate}}</a>&#160;
		<a href="#!/students/create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'STUDENTS.NEW_STUDENT' | translate}}</a></p>
	</div>

	<div class="list-group" data-ng-if="! students.$resolved || students.length">
		<a data-ng-repeat="student in students | orderBy: '+lastname'" data-ng-href="#!/students/{{student.matricule}}" class="list-group-item">{{student.lastname.toUpperCase()}} {{student.firstname}} ({{student.matricule}})</a>
	</div>
	
	<div data-ng-if="students.$resolved && ! students.length">{{'STUDENTS.NO_STUDENT_AVAILABLE' | translate}}</div>
</section>