<section data-ng-controller="SettingsController">
	<h2>{{'PROFILE.CHANGE_PWD' | translate}}</h2>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="changeUserPassword()" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword">{{'PROFILE.CURRENT_PWD' | translate}}</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="{{'PROFILE.CURRENT_PWD' | translate}}">
				</div>
				<div class="form-group">
					<label for="newPassword">{{'PROFILE.NEW_PWD' | translate}}</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="{{'PROFILE.NEW_PWD' | translate}}">
				</div>
				<div class="form-group">
					<label for="verifyPassword">{{'PROFILE.VERIFY_PWD' | translate}}</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="{{'PROFILE.VERIFY_PWD' | translate}}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-large btn-primary">{{'PROFILE.SAVE_PWD' | translate}}</button>
				</div>
				<div data-ng-show="success" class="text-success">
					<strong>{{'PROFILE.SAVE_PWD_SUCCESS' | translate}}</strong>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>