<section data-ng-controller="SettingsController">
	<h2>Change your password</h2>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="changeUserPassword()" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword">Current password</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
				</div>
				<div class="form-group">
					<label for="newPassword">New password</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
				</div>
				<div class="form-group">
					<label for="verifyPassword">Verify password</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-large btn-primary">Save password</button>
				</div>
				<div data-ng-show="success" class="text-success">
					<strong>Password changed successfully</strong>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>