<section data-ng-controller="SettingsController">
	<h2>{{'PROFILE.EDIT' | translate}}</h2>

	<div class="col-md-12">
		<form name="userForm" class="form-horizontal" data-ng-submit="updateUserProfile(userForm.$valid)">
			<fieldset>
				<div class="form-group">
					<label for="username">{{'PROFILE.USERNAME' | translate}}</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="{{'PROFILE.USERNAME' | translate}}">
				</div>
				<div class="form-group">
					<label for="firstname">{{'PROFILE.FIRSTNAME' | translate}}</label>
					<input type="text" id="firstname" name="firstname" class="form-control" data-ng-model="user.firstname" placeholder="{{'PROFILE.FIRSTNAME' | translate}}">
				</div>
				<div class="form-group">
					<label for="lastname">{{'PROFILE.LASTNAME' | translate}}</label>
					<input type="text" id="lastname" name="lastname" class="form-control" data-ng-model="user.lastname" placeholder="{{'PROFILE.LASTNAME' | translate}}">
				</div>
				<div class="form-group">
					<label for="email">{{'PROFILE.EMAIL' | translate}}</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="{{'PROFILE.EMAIL' | translate}}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-large btn-primary">{{'PROFILE.SAVE' | translate}}</button>
				</div>
				<div data-ng-show="success" class="text-success">
					<strong>{{'PROFILE.SAVE_SUCCESS' | translate}}</strong>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>