<section data-ng-controller="ExamsController">

	<h1>Create exam</h1>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label">Course</label>
					<tags-input data-ng-model="courses" display-property="name" max-tags="1" add-from-autocomplete-only on-tag-added="changeCourse()" on-tag-removed="changeUnique()" placeholder="Add a course">
						<auto-complete source="loadCourses($query)"></auto-complete>
					</tags-input>
				</div>
				<div class="form-group">
					<label class="control-label">Activities</label>
					<tags-input data-ng-model="activities" display-property="name" add-from-autocomplete-only placeholder="Add an activity" data-ng-disabled="split || courses.length != 1">
						<auto-complete source="loadActivities($query)"></auto-complete>
					</tags-input>
					<div class="checkbox">
						<label><input type="checkbox" data-ng-model="split" data-ng-click="changeUnique()"> Unique exam for all activities</label>
					</div>
				</div>
				<div class="form-group">
				<label class="control-label" for="date">Date</label>
					<div class="controls">
						<input type="datetime" data-ng-model="date" id="date" class="form-control" placeholder="2015-06-15 14:00" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Rooms</label>
					<tags-input data-ng-model="rooms" display-property="name" add-from-autocomplete-only placeholder="Add a room">
						<auto-complete source="loadRooms($query)"></auto-complete>
					</tags-input>
				</div>
				<div class="form-group">
					<label class="control-label">Groups</label>
					<tags-input data-ng-model="groups" display-property="name" add-from-autocomplete-only placeholder="Add a group">
						<auto-complete source="loadGroups($query)"></auto-complete>
					</tags-input>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
