<section data-ng-controller="ExamsController">
	<h2>{{'EXAMS.CREATE_EXAM' | translate}}</h2>

	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="title">{{'EXAMS.TITLE' | translate}}</label>
					<div class="controls">
						<input type="text" data-ng-model="title" id="title" class="form-control" placeholder="{{'EXAMS.TITLE' | translate}}" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">{{'EXAMS.COURSE' | translate}}</label>
					<tags-input data-ng-model="courses" display-property="name" max-tags="1" add-from-autocomplete-only on-tag-added="changeCourse()" on-tag-removed="changeUnique()" placeholder="{{'EXAMS.ADD_COURSE' | translate}}">
						<auto-complete source="loadCourses($query)"></auto-complete>
					</tags-input>
				</div>
				<div class="form-group">
					<label class="control-label" for="date">{{'EXAMS.DATE' | translate}}</label>
					<div class="controls">
						<input type="datetime" data-ng-model="date" id="date" class="form-control" placeholder="2015-06-15 14:00" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="duration">{{'EXAMS.DURATION' | translate}}</label>
					<div class="controls">
						<input type="number" data-ng-model="duration" id="duration" class="form-control" placeholder="60" required>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">{{'EXAMS.CREATE' | translate}}</button>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>