<section data-ng-controller="ExamsController" data-ng-init="findMyExams()">
    <h1>My exams</h1>

    <div class="list-group" data-ng-if="! exams.$resolved || exams.length">
        <a data-ng-repeat="exam in exams" data-ng-href="#!/exams/{{exam._id}}" class="list-group-item"><b>{{exam.course.ID}}</b> &mdash; {{exam.course.name}} on {{exam.date | date:'dd MMM yyyy H:mm'}} with<span ng-repeat="group in exam.groups"> {{group.name}}</span></a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="exams.$resolved && ! exams.length">
        You don't have any exams.
    </div>
</section>
