<section data-ng-controller="ExamsController" data-ng-init="find()">
	<h2>{{'EXAMS.EXAMS' | translate}}</h2>

	<div>
		<p class="text-right"><a href="#!/exams/create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'EXAMS.NEW_EXAM' | translate}}</a></p>
	</div>

	<div data-ng-if="! exams.$resolved || exams.length">
		<tabset>
			<tab data-ng-repeat="examsession in examsessions | orderBy: '+from'" heading="{{examsession.name}}">
				<ul class="list-group">
					<a data-ng-repeat="exam in exams | filterBySession: examsession | orderBy: '+date'" data-ng-href="#!/exams/{{exam._id}}" class="list-group-item"><b>{{exam.course.ID}}</b> &mdash; {{exam.course.name}} <span data-ng-if="exam.title">({{exam.title}})</span>, {{'EXAMS.ON' | translate}} {{exam.date | amDateFormat: 'ddd Do MMM YYYY HH:mm'}}</a>
				</ul>
			</tab>
		</tabset>
	</div>
	
	<div data-ng-if="exams.$resolved && ! exams.length">{{'EXAMS.NO_EXAM_AVAILABLE' | translate}}</div>
</section>