<section data-ng-controller="ExamsController" data-ng-init="find()">
    <h1>Exams</h1>

    <div class="list-group">
        <a data-ng-repeat="exam in exams" data-ng-href="#!/exams/{{exam._id}}" class="list-group-item">
            <h2> {{exam.course.ID}} </h2>
            <p ng-if="exam.split">Exam for the following activities:<span ng-repeat="activity in exam.activities"> {{activity.ID}}</span></p>
            <p ng-if="!exam.split">Exam for the whole course.</p>
            <p>On {{exam.date | date:'dd MMM yyyy H:mm'}} in<span ng-repeat="room in exam.rooms"> {{room.ID}}</span> with<span ng-repeat="group in exam.groups"> {{group}}</span>.</p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!exams.$resolved || exams.length">
    	No Exams yet, why don't you <a href="/#!/exams/create">create one</a>?
    </div>
</section>
