<section data-ng-controller="ExamsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1> {{exam.activity.ID}} </h1>
    <h2> {{exam.name}}  </h2>

        <h3> The {{exam.date | date:'dd/MM/yyyy'}} in <span ng-repeat="room in exam.rooms">{{room.ID}} </span></h3>

        <h3> For groups <span ng-repeat="group in exam.groups">{{group}} </span></h3>
	</div>
	<div class="pull-right" data-ng-show="(authentication.user)">
		<a class="btn btn-primary" href="/#!/exams/{{exam._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="exam.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="exam.user.displayName"></span>
		</em>
	</small>
</section>
