<section data-ng-controller="ExamsController" data-ng-init="findOne()">
	<h1>{{exam.course.ID}}</h1>

	<h2>Information</h2>

	<dl class="dl-horizontal">
		<dt>Course</dt>
		<dd>{{exam.course.ID}} &mdash; {{exam.course.name}}</dd>
		<dt>Coordinator</dt>
		<dd>{{exam.course.coordinator.username}}</dd>
		<dt>Date</dt>
		<dd>{{exam.date | date: "dd MMM yyyy H:mm"}}</dd>
		<dt>Rooms</dt>
		<dd><span data-ng-repeat="room in exam.rooms">{{room.ID}} </span></dd>
		<dt>Groups</dt>
		<dd><span data-ng-repeat="group in exam.groups">{{group.name}} </span></dd>
	</dl>

	<h2>Copies</h2>

	<div data-ng-if="exam.split">
		<p>One PDF file has to be uploaded for each activity of the course.</p>
	</div>

	<div data-ng-if="! exam.split">
		<div data-ng-if="exam.copies.length === 1">
			<ul class="list-group">
				<li class="list-group-item" data-ng-repeat="i in getNumber(exam.copies[0].series) track by $index">
					<b>Serie {{$index + 1}}</b>
					<span data-ng-if="exam.copies[0].files[$index].validated">Validated copy uploaded on {{exam.copies[0].files[$index].created | date: "dd MMM yyyy H:mm"}}</span>
					<span data-ng-if="! exam.copies[0].files[$index].validated">The copy has not been validated yet.</span>
					<span class="pull-right"><form method="post" action="/download/copy" target="_blank"><input type="hidden" name="copy" data-ng-value="exam.copies[0]._id"><input type="hidden" name="index" data-ng-value="$index"><input type="image" src="images/pdf.png" width="23" height="24" alt="PDF" data-ng-class="{grayscale: ! exam.copies[0].files[$index].validated}" data-ng-disabled="! exam.copies[0].files[$index].validated"></form></span>
				</li>
			</ul>
		</div>

		<div data-ng-if="exam.copies.length === 0" class="alert alert-warning" role="alert">
			The number of series has not been defined yet.
		</div>
	</div>


	<div data-ng-if="exam.ready">
		<h2>Actions</h2>

		<p>Download an archive with the exam copies for each student.</p>

		<form method="post" action="/download/copies" target="_blank" class="in-form">
			<input type="hidden" name="exam" data-ng-value="exam._id">
			<button type="submit" class="btn btn-primary">Download copies</button>
		</form>
		<button class="btn btn-success" data-ng-click="validatePrint(exam._id)" data-ng-if="! exam.printed">Validate printing</button>
	
		<div data-ng-show="error" class="text-danger">
			<strong data-ng-bind="error"></strong>
		</div>
	</div>
</section>
