<section data-ng-controller="ExamsController" data-ng-init="findOne()">
	<h2>{{exam.course.ID}}</h2>

	<h3>{{'EXAMS.INFORMATION' | translate}}</h3>

	<dl class="dl-horizontal">
		<dt>{{'EXAMS.TITLE' | translate}}</dt>
		<dd>{{exam.title ? exam.title : '&mdash;'}}</dd>
		<dt>{{'EXAMS.COURSE' | translate}}</dt>
		<dd>{{exam.course.ID}} &mdash; {{exam.course.name}}</dd>
		<dt>{{'EXAMS.COORDINATOR' | translate}}</dt>
		<dd>{{exam.course.coordinator.username}}</dd>
		<dt>{{'EXAMS.EXAMSESSION' | translate}}</dt>
		<dd>{{exam.examsession.name}}</dd>
		<dt>{{'EXAMS.DATE' | translate}}</dt>
		<dd>{{exam.date | amDateFormat: 'dddd Do MMMM YYYY HH:mm'}}</dd>
		<dt>{{'EXAMS.DURATION' | translate}}</dt>
		<dd>{{exam.duration}} {{'EXAMS.MINUTES' | translate}}</dd>
	</dl>

	<tabset>
		<tab heading="{{'EXAMS.COPIES' | translate}}">
			<div>
				<p class="text-right"><button data-ng-click="addCopy()" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'EXAMS.ADD_COPY' | translate}}</button></p>
			</div>

			<div data-ng-if="! exam.copies || exam.copies.length === 0">
				{{'EXAMS.NO_COPIES' | translate}}
			</div>

			<div data-ng-if="exam.copies && exam.copies.length > 0">
				<ul class="list-group">
					<li class="list-group-item" data-ng-repeat="i in getNumber(exam.copies.length) track by $index">
						<p><b>{{'EXAMS.QUESTIONNAIRE' | translate}} {{getLetter($index)}}</b></p>
						<div data-ng-if="exam.copies[$index] && exam.copies[$index].name">
							<form method="post" action="/download/copy" target="_blank">
								<p>A file has been uploaded on {{exam.copies[$index].created | date: "dd MMM yyyy H:mm"}} (<input type="hidden" name="exam" data-ng-value="exam._id"><input type="hidden" name="index" data-ng-value="$index"><button type="submit" class="btn btn-link">{{'EXAMS.PREVIEW_COPY' | translate}}</button>)</p>
							</form>
						</div>
						<progressbar data-ng-if="progressValue[$index]" class="progress-striped active" animate="true" max="100" value="progressValue[$index]" type="success"><i>{{progressValue[$index]}} %</i></progressbar>
						<div data-ng-if="! exam.copies[$index].validated">
							<button data-ng-if="! uploading[$index]" class="btn btn-primary" ngf-select accept="application/pdf" ngf-allow-dir="false" data-ng-model="files" ngf-change="fileSelected($files, $index)">{{'EXAMS.UPLOAD_COPY' | translate}}</button>
							<button data-ng-if="exam.copies[$index] && exam.copies[$index].name" data-ng-click="validate($index)" class="btn btn-success">{{'EXAMS.VALIDATE_COPY' | translate}}</button>
						</div>
					</li>
				</ul>
			</div>
		</tab>

		<tab heading="{{'EXAMS.REGISTERED_STUDENTS' | translate}}">
			<div>
				<p class="text-right"><button class="btn btn-success" ngf-select accept="text/csv" ngf-allow-dir="false" ng-model="studentsfile" ngf-change="importStudents($files)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'EXAMS.IMPORT_STUDENTS' | translate}}</button></p>
			</div>

			<div data-ng-if="! exam.affectation || exam.affectation.length">
				<p><b>{{exam.affectation.length}}</b> {{'EXAMS.NB_REGISTERED_STUDENTS' | translate}}</p>
				<ul class="list-group">
					<li class="list-group-item" data-ng-repeat="affectation in exam.affectation | orderBy: '+student.lastname'">{{affectation.student.lastname.toUpperCase()}} {{affectation.student.firstname}}</li>
				</ul>
			</div>

			<div data-ng-if="exam.affectation && ! exam.affectation.length">{{'EXAMS.NO_REGISTERED_STUDENT' | translate}}</div>
		</tab>
		
		<tab heading="{{'EXAMS.ROOMS' | translate}}">
			<div class="pull-right">
				<form class="form-inline">
					<tags-input style="display: inline-block; width: 250px; vertical-align: middle;" data-ng-model="addrooms" display-property="name" add-on-blur="false" add-from-autocomplete-only placeholder="{{'EXAMS.ADD_ROOM' | translate}}">
						<auto-complete source="loadRooms($query)" min-length="0"></auto-complete>
					</tags-input>
					<button data-ng-click="addRooms(addrooms)" class="btn btn-primary">{{'EXAMS.ADD' | translate}}</button>
				</form>
			</div>

			<div class="clearfix" data-ng-if="! exam.rooms || exam.rooms.length">
				<tabset>
					<tab data-ng-repeat="i in getNumber(exam.rooms.length) track by $index" heading="{{exam.rooms[$index].room.ID}}">
						<h4>{{'EXAMS.ROOM_MAP' | translate}}</h4>

						<div>
							<canvas id="{{'roomplaces' + exam.rooms[i].room._id}}" data-ng-if="exam.rooms[i].room.map" data-ng-init="loadMap(i)"></canvas>
							<p data-ng-if="! exam.rooms[i].room.map">{{'EXAMS.NO_MAP_AVAILABLE' | translate}}</p>
						</div>

						<div data-ng-if="exam.rooms[i].room.map && exam.rooms[i].room.configuration && exam.rooms[i].room.configuration.length > 0">
							<h4>{{'EXAMS.ROOM_CONFIGURATION' | translate}}</h4>

							<div class="col-md-12">
								<form class="form-horizontal">
									<fieldset>
										<div class="form-group">
											<label class="control-label" for="configuration">{{'EXAMS.SELECT_CONFIGURATION' | translate}}</label>
											<div class="controls">
												<select id="configuration" class="form-control" data-ng-options="j as exam.rooms[i].room.configuration[j].name for j in getNumber(exam.rooms[i].room.configuration.length)" data-ng-model="exam.rooms[i].layout"></select>
												<p class="help-block">({{exam.rooms[i].room.configuration[exam.rooms[i].layout].seats.length}} {{'EXAMS.SELECTED_SEATS' | translate}})</p>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label" for="startseat">{{'EXAMS.STARTING_SEAT' | translate}}</label>
											<div class="controls">
												<input type="number" data-ng-model="exam.rooms[i].start" id="startseat" class="form-control" >
											</div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary" data-ng-click="changeConfiguration(i)">{{'EXAMS.CHANGE_CONFIGURATION' | translate}}</button>
										</div>
									</fieldset>
								</form>
							</div>
							<div class="clearfix"></div>
						</div>
					</tab>
				</tabset>
			</div>

			<div class="clearfix" data-ng-if="exam.rooms && ! exam.rooms.length">{{'EXAMS.NO_ROOM' | translate}}</div>
		</tab>
	</tabset>
</section>