<section class="row" data-ng-controller="UsersController">
	<h2>{{'USERS.CREATE_USER' | translate}}</h2>

	<div class="col-md-12">
		<form name="userForm" data-ng-submit="createUser()" class="form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="serial">{{'USERS.SERIAL' | translate}}</label>
					<input type="text" required id="serial" name="serial" class="form-control" data-ng-model="credentials.serial" placeholder="{{'USERS.SERIAL' | translate}}">
				</div>
				<div class="form-group">
					<label for="firstName">{{'USERS.FIRSTNAME' | translate}}</label>
					<input type="text" required id="firstname" name="firstname" class="form-control" data-ng-model="credentials.firstname" placeholder="{{'USERS.FIRSTNAME' | translate}}">
				</div>
				<div class="form-group">
					<label for="lastName">{{'USERS.LASTNAME' | translate}}</label>
					<input type="text" id="lastname" name="lastname" class="form-control" data-ng-model="credentials.lastname" placeholder="{{'USERS.LASTNAME' | translate}}">
				</div>
				<div class="form-group">
					<label for="email">{{'USERS.EMAIL' | translate}}</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="{{'USERS.EMAIL' | translate}}">
				</div>
				<div class="form-group">
					<label for="rightsDiv">{{'USERS.RIGHTS' | translate}}</label>
					<div name="rightsDiv">
						<label data-ng-class="{'bg-success': credentials.rights.teacher, 'bg-danger': ! credentials.rights.teacher}"><input type="checkbox" name="rightsTeacher" data-ng-model="credentials.rights.teacher" value="Cat" /> {{'USERS.TEACHER' | translate}}</label>

						<label data-ng-class="{'bg-success': credentials.rights.manager, 'bg-danger': ! credentials.rights.manager}"><input type="checkbox" name="rightsManager" data-ng-model="credentials.rights.manager" value="Cat" /> {{'USERS.MANAGER' | translate}}</label>

						<label data-ng-class="{'bg-success': credentials.rights.printer, 'bg-danger': ! credentials.rights.printer}"><input type="checkbox" name="rightsPrinter" data-ng-model="credentials.rights.printer" value="Cat" /> {{'USERS.PRINTER' | translate}}</label>

						<label data-ng-class="{'bg-success': credentials.rights.admin, 'bg-danger': ! credentials.rights.admin}"><input type="checkbox" name="rightsAdmin" data-ng-model="credentials.rights.admin" value="Cat" /> {{'USERS.ADMIN' | translate}}</label>
					</div>
				</div>
				<div class="form-group">
					<label for="password">{{'USERS.PASSWORD' | translate}}</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="{{'USERS.PASSWORD' | translate}}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">{{'USERS.CREATE_USER' | translate}}</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>