<section data-ng-controller="UsersController" data-ng-init="findOne()">
	<h2>{{profile.displayName}}</h2>

	<h3>Information</h3>

	<div ng-if="profile.picture" class="pull-right">
		<img ng-src="/images/users/{{profile._id}}.jpg" width="150" height="150" alt="Picture of {{profile.serial}}" />
	</div>

	<div class="pull-left">
		<dl class="dl-horizontal">
			<dt>Serial</dt>
			<dd>{{profile.serial}}</dd>

			<dt>Firstname</dt>
			<dd>{{profile.firstname}}</dd>

			<dt>Lastname</dt>
			<dd>{{profile.lastname}}</dd>

			<dt>Email</dt>
			<dd>{{profile.email}}</dd>

			<dt>Roles</dt>
			<dd>
				<span data-ng-if="profile.rights.admin">Admin, </span>
				<span data-ng-if="profile.rights.manager">Manager, </span>
				<span data-ng-if="profile.rights.teacher">Teacher, </span>
				<span data-ng-if="profile.rights.printer">Printer, </span>
				User
			</dd>
		</dl>
	</div>
</section>