<section data-ng-controller="UsersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1><span data-ng-bind="profile.serial"></span> : <span data-ng-bind="profile.displayName"></span></h1>
	</div>
  <h3><br> Roles : <br> <ul>
    <h4>
      <li data-ng-show="profile.rights.user"> User </li>
      <li data-ng-show="profile.rights.printer"> Printer </li>
      <li data-ng-show="profile.rights.teacher"> Teacher </li>
      <li data-ng-show="profile.rights.manager"> Manager </li>
      <li data-ng-show="profile.rights.admin"> Admin </li>
    </h4>
  </ul>
  <br>
  Email : {{profile.email}}
  </h3>

	<div class="pull-right" data-ng-show="authentication.user">
		<a class="btn btn-primary" href="/#!/users/{{profile.serial}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
